body {
    margin: 0px;
}

:root {
    --SmallText: 12px;
    --MediumText: 14px;
    --LargeText: 16px;
    --XXLText: 18px;
    --MegaText: 60px;
    --W: white;
    --B: black;
    --BOLD: bold;
}

.button {
    color: rgb(71, 71, 71);
    font-size: var(--XXLText);
}


.VECTOR {
    height: 30px;
    width: 30px;
}


/* Header Css 16-110 */

.NavigationHeader {
    display: flex;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 50px;

    background-color: var(--W);
    border-bottom: 1px solid var(--B);
    padding: 0px 20px;

    justify-content: space-between;

    z-index: 100000;

}

#HeaderLogoContainer {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}

#HeaderLogoContainer img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#HeaderButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 150px;
    gap: 20px;

}

#HeaderButtonContainer:hover {
    cursor: pointer;
    background-color: rgb(173, 173, 173);
}
















































/* Main Css 110-250 */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#popup-main {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    padding: 50px;
    background-color: beige;
    gap: 25px;
}

.popup-input {
    border: none;
    border-bottom: 1px solid black;
}




h2 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
    padding: 15px;
}

#grid-place-destination {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin-top: 50px;
}

.desitnation-info-pic {
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.top-image {
    border-bottom: 2px solid black;
}
















































































/* Footer Css 250-X */
footer {
    display: flex;
    justify-content: center;
    gap: 70px;
    border-top: 1px solid grey;
    padding-top: 70px;
}

footer li {
    margin-bottom: 10px;
    list-style: none;
}

footer a {
    color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer #bold {
    color: black;
    font-weight: 600;
}

#footerInfo {
    width: 200px;
}

#medias {
    display: flex;
    gap: 5px;
    max-width: 10%;
}





/* SearchPage CSS */

#searchPage {
    display: flex;
    align-items: center;
    margin-top: 150px;
    flex-direction: column;

}

#location-search {
    border-radius: 10px;
}

#all-locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px;
    gap: 30px;
    width: 100%;
}

.box-around {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
    height: 250px;
}

.text-box {
    justify-self: end;
    align-self: end;
}

.location-image-box {
    border-right: 2px solid black;
}