body {
    margin: auto 20px;
    background-color: rgb(12, 26, 79)
}

:root {
    /* Text Size */
    --SmallText: 12px;
    --MediumText: 14px;
    --LargeText: 16px;
    --XXLText: 18px;
    --XXXLText: 20px;
    --MegaText: 60px;

    /* Colors */
    --W: white;
    --B: black;

    /* Font Sizes */
    --BOLD: bold;
}

.hide {
    display: none;
}

.button {
    color: rgb(255, 255, 255);
    font-size: var(--XXXLText);
}


.VECTOR {
    height: 30px;
    width: 30px;
}





/* Header Css 16-110 */

.NavigationHeader {
    display: flex;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 50px;

    background-color: var(--W);
    padding: 10px 20px;

    justify-content: space-between;

    z-index: 1000;

    background-color: rgb(12, 26, 79)
}

.NavContainer {
    height: 100%;
    display: flex;
}

#location-search {
    width: 100%;
    border: blue;
    padding: 20px;
    border-radius: 10px;

    outline: none;
    border: none;
}

#icon-for-search {
    width: 10%;
    height: 100%;
    border-radius: 10px 10px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#icon-for-search:hover {
    cursor: pointer;
    background-color: rgb(187, 187, 187);
}

#icon-for-search img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

#search-and-field {
    display: flex;
    background-color: var(--W);
    border-radius: 10px 10px 0px 0px;
    width: 600px;

    position: relative;
}

.BOLD {
    font-weight: var(--BOLD);
}

.submenuContainer {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--W);
    border-top: 1px solid rgb(187, 187, 187);
    display: none;
    flex-direction: column;
    gap: 5px;
    z-index: 5000;

    padding: 5px 0px 5px 0px;

    border-radius: 0px 0px 10px 10px;
}

.submenuContainer.Reveal {
    display: flex;
}

.submenuItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.submenuItem img {
    width: 4%;
}

.submenuItem:hover {
    background-color: rgb(168, 168, 168);
}

#NavLeftContainer {
    gap: 5px;
}

#NavLeftContainer:hover {
    cursor: pointer;
}

#NavRightContainer {
    gap: 5px;
}

#HeaderLogoContainer {
    display: flex;
    width: 230px;
    height: 50px;

    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: var(--XXXLText);

    color: var(--W);

}

#HeaderLogoContainer img {
    height: 80%;
    width: 40%;
}


.HeaderButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 140px;
    gap: 15px;

}

.HeaderButtonContainer:hover {
    cursor: pointer;
    background-color: #b3ccdd;
    border-bottom: 1px solid rgb(12, 26, 79);
}

.HeaderButtonContainer:hover .button {
    color: black;
}

.HeaderButtonContainer:hover .iconwhite {
    display: none;
}

.HeaderButtonContainer:hover .iconblack {
    display: block;
}

.IconStack {
    position: relative;
    width: 30px;
    height: 30px;
}

.IconStack .iconwhite,
.IconStack .iconblack {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.IconStack .iconblack {
    display: none;
}

#menuSubMenu {
    background-color: rgb(170, 219, 252);
    border-left: 2px solid rgb(103, 156, 190);
    width: 300px;
    height: 100%;
    position: fixed;
    right: 0;
    z-index: 500;
}

#menuSubMenu ul {
    list-style: none;
    width: 280px;
    margin: 20px auto 0;
    padding: 0;
}

#menuSubMenu li {
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(103, 156, 190);
}

#menuSubMenu li:hover {
    background-color: white;
    border-radius: 5px;
}

#menuSubMenu a {
    text-decoration: none;
    color: black;
}

#menuSubMenu img {
    width: 15px;
}





















/* Main Css 110-250 */

#homepageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #b3ccdd;

    margin-top: 50px;
    border-radius: 15px;
    padding: 50px;
}


#searchpageContainer {
    display: none;
}



h2 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    width: 100%;
    text-align: center;
    padding: 15px;
}

#grid-place-destination {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 0.6fr);
    gap: 30px;
    margin-top: 50px;
    width: 100%;
}

.destination-info-pic {
    display: grid;
    grid-template-rows: 75% 25%;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background-color: var(--W);
    overflow: hidden;
    border-radius: 15px;

}

.top-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bottom-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--W);
    border-top: 2px solid black;
    font-size: var(--XXXLText);
    gap: 10px;
}















































































/* Footer Css 250-X */
footer {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    background-color: rgb(12, 26, 79);
    padding: 50px 300px 0px 300px
}

footer p {
    color: var(--W);
}

footer li {
    margin-bottom: 10px;
    list-style: none;
}

footer a {
    color: var(--W);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer #bold {
    color: var(--W);
    font-weight: 600;
}

#footerInfo {
    width: 200px;
}

#footerInfo h2 {
    color: var(--W);
}

#medias {
    display: flex;
    gap: 5px;
    max-width: 10%;
}