#friendsContainer {
    background-color: #b3ccdd;
    margin-top: 50px;
    text-align: center;
    padding: 50px 0;
}

#grid-for-friends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 50px;
}

.friend-list-profiles {
    color: white;
    background-color: rgb(170, 219, 252);
    padding: 30px;
    border-radius: 20px;
}

.friend-list-profiles img {
    height: 75px;
}

.friend-list-profiles button {
    text-align: center;
    width: 70px;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}

#add-friends-list {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#add-friends-popup {
    display: flex;
}

.close-cross-popup {
    position: absolute;
    top: 0;
    right: 5px;
    height: 50px;
    cursor: pointer;
}

#grid-friends-page-search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.friend-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3ccdd;
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
}

.friend-profiles button {
    right: 50px;
    top: 115px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #b3ccdd;
}

.friend-profiles img {
    height: 45px;
}