#popup-main {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border: 2px solid black;
    position: absolute;
    z-index: 1;
    padding: 50px;
    background-color: beige;
    gap: 25px;
}

.popup-input {
    border: none;
    border-bottom: 1px solid black;
}