.popup-main {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 280px;
    border: 2px solid black;
    border-radius: 10px;
    position: fixed;
    /*********************************/
    transform: translate(-50%, -50%);
    /* Ska hitta bättre och enklare sätt än detta*/
    top: 50%;
    left: 50%;
    z-index: 1;
    padding: 50px;
    background-color: white;
    gap: 25px;

    z-index: 20000;
}

.logIn {
    text-align: center;
    font-size: var(--XXXLText);
    font-weight: var(--BOLD);
    margin: 0;
}

.popup-input {
    padding: 10px;
}

.logIn-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
}

.logIn-button:hover {
    background-color: #b3ccdd;
    cursor: pointer;
    color: black;
}

#signInLink {
    color: rgb(117, 241, 241);
    text-decoration: underline;
}

#signInLink:hover {
    color: rgb(113, 166, 207);
    cursor: pointer;
}

#popupLogIn-main {
    margin-top: 800px;
}

.error-message {
    margin-top: -10px;
    text-align: center;
    color: red;
}



#log-out-popup {
    display: none;
    justify-content: space-evenly;
}


#rating-divs {
    display: flex;
    justify-content: space-between;
}

#rating-divs div {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
}

#rating-divs div:hover {
    background-color: #b3ccdd;
    ;
    cursor: pointer;
}

.star-for-imgcard {
    width: 18px;
    padding-bottom: 3px;
    cursor: pointer;
    border-radius: 50%;
}

.star-for-imgcard:active {
    background-color: yellow;
}