#infoPageContainer {
    background-color: #b3ccdd;
    border-radius: 0 0 50px 50px;
    margin-top: 50px;
    padding: 50px 0px;
}

#infoPage {
    display: grid;
    grid-template-rows: 3fr 1fr;
    width: 70%;
    margin: auto;
}

#image-box {
    max-height: 600px;
    border: 2px solid black;
}

#image-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#text-box {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0 0 20px 20px;
    padding: 20px;
    background-color: var(--W);
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.bookingButton {
    color: var(--W);
    background-color: rgb(12, 26, 79);
    padding: 7px 15px;
    border: 1px solid var(--B);
    border-radius: 10px;
}

.bookingButton:hover {
    background-color: #b3ccdd;
    cursor: pointer;
}

.descriptionParagraph {
    font-size: var(--XXLText);
}